.profile__info {
  margin: 22px 28px 25px 30px;
}

@media screen and (max-width: 620px) {
  .profile__info {
    flex-wrap: wrap;
    justify-content: center;

  }
}


@media screen and (max-width: 425px) {
  .profile__info {
    max-width: 282px;
    margin-left: 0;
    margin-right: 0;

  }
}
